<p id="notice"><%= notice %></p>

<!-- in summary add how many teams persson has added and balance and points and stuff  -->

<h1> Welcome <%= @bio.first_name + " " + @bio.last_name %> </h1>

<p>
  <strong>You currently have an account balance of: $99,999</strong> <!-- query transaaction table and pull sum of transactions to date, or write method in chargesController to do this automatically -->
 
 </p>

<p>
  <strong>You've generated 4543 number of teams </strong> <!-- count number of teams per user-->

</p>

<p>
  <strong>The average points scored for your optimal teams is 321 </strong> <!-- count number of teams per user-->

</p>
